<a
  href="https://astro.build/blog/astro-5/"
  id="news"
  class="transition-colors duration-200 absolute left-4 md:left-auto bottom-4 right-4 max-w-full md:max-w-xs p-4 backdrop-blur-2xl bg-accent hover:bg-accent/90 rounded-2xl shadow"
>
  <svg
    class="text-primary"
    width="32"
    height="32"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M24.667 12c1.333 1.414 2 3.192 2 5.334 0 4.62-4.934 5.7-7.334 12C18.444 28.567 18 27.456 18 26c0-4.642 6.667-7.053 6.667-14Zm-5.334-5.333c1.6 1.65 2.4 3.43 2.4 5.333 0 6.602-8.06 7.59-6.4 17.334C13.111 27.787 12 25.564 12 22.666c0-4.434 7.333-8 7.333-16Zm-6-5.333C15.111 3.555 16 5.556 16 7.333c0 8.333-11.333 10.962-5.333 22-3.488-.774-6-4-6-8 0-8.667 8.666-10 8.666-20Z"
    ></path></svg
  >
  <h2 class="font-norma text-accent-content text-xl mb-4">
    What's New in Astro 5.0?
  </h2>
  <p class="text-accent-content/50 text-base leading-6 tracking-tight m-0">
    From content layers to server islands, click to learn more about the new
    features and improvements in Astro 5.0
  </p>
</a>
