---
import Flames from "@icons/Flames.astro";
---

<div
  id="news"
  class="transition-colors duration-400 absolute left-4 md:left-auto bottom-4 right-4 max-w-full md:max-w-xs p-4 backdrop-blur-2xl bg-accent hover:bg-accent/90 rounded-2xl shadow"
>
  <Flames className="text-primary size-8 animate-pulse" />
  <h2 class="text-accent-content text-lg my-2">Version 1.0</h2>
  <div class="text-accent-content/50 leading-5">
    <ul class="list">
      <li class="list-row">
        <span>
          Added <a class="link" href="/playlist-rankings">playlist rankings</a> page.</span
        >
      </li>
    </ul>
  </div>
</div>
